<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <title>Game</title>
  </head>
  <body>
    <%= yield %>
    <img src="http://www.freakingnews.com/pictures/129000/Tom-Cruise--129310.jpg" id="shaboozey">
  </body>
</html>
